body{
    background-image: url("https://cdn.pixabay.com/photo/2020/04/19/08/17/watercolor-5062356_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blur(50px);
    padding: 50px;
    margin: 50px;

}