body{
    margin: 50px;
    background-image: url("https://cdn.pixabay.com/photo/2015/01/31/05/05/background-618226_960_720.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blur(100px);
    padding: 50px;

}



