body{
    margin: 50px;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/16/19/47/bokeh-2072271_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blur(100px);
    padding: 50px;

}

.form-control{
    padding: 3px;
}
